<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Graded Components</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="left">
    {% include '../partials/listing.html' %}
  </div>

  <div class="right">
    {% include '../partials/listing.html' %}
  </div>

  <script src="bower_components/modernizr/modernizr.js"></script>
  <script src="bower_components/eq.js/dist/eq.min.js"></script>
  <script src="js/listing.js"></script>
</body>
</html>
